* {
    box-sizing: border-box;
    list-style: none;
}

html, body {
    font-family: HyundaiKRRegular;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    
}

.clear:after {
    float: none;
    content: '';
    clear: both;
    display: block;
}

b {
    font-weight: bold;
}

nav {
    background-color: #f6f3f2;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #666;
}

nav a {
    color: #666;
    font-size: 16px;
    font-weight: bold;
}

nav a[target="_blank"]:after {
    background-color: url(img/ico_gnb_newwin2.png);
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 8px;
}

nav .logo img {
    width: 155px;
}

nav ul {
    display: inline-flex;
}

nav ul.category {
    height:100px;
    margin-left: 93px;
    transform: translateY(-6px);
    justify-content: center;
    align-items: center;
}

nav ul.category li {
    padding: 0 15px;
    margin-left: 40px;
}

nav ul > :first-child {
    margin-left: 0;
}

nav .right {
    position: relative;
    margin-left: 40px;
}

.right-btn {
    border:none;
    vertical-align: center;
    margin-left: 19px;
}

.right-btn.global {
    background: url("img/btn_topmenu_language\ \(1\).png");
    background-size: cover ;
    width: 20px;
    height: 17px;
}

.right-btn.channel {
    background: url("img/btn_topmenu_Channelh.webp");
    background-size: cover ;
    width: 20px;
    height: 17px;
}

.right-btn.search {
    background: url("img/btn_topmenu_search\ \(1\).png");
    background-size: cover ;
    width: 20px;
    height: 17px;
}

.right-btn.language {
    transform: translateY(-1px);
    position: relative;
    background: rgba(0, 0, 0, 0);
    margin-left:19px;
}

.right-btn.language::after {
    position: absolute;
    left: 90px;
    top: 8px;
    content:"";
    width: 5px;
    height: 5px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg);
    transform: all 300ms ease;
}

.right-btn.language.open::after{
    transform: rotate(315deg);
}

.nav .language_layer {
    right: 0;
    position: absolute;
    top: 45px;
    overflow: hidden;
    display: none;
   
}

nav .language_layer.open {
    display: block;
}

.language_wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}

.language_layer ul {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f3f2;
    padding-top: 10px;
}

.language_layer ul li {
    margin-bottom: 16px;
    font-size: 14px;
    cursor:pointer;
}

.language_layer ul li:hover {
    font-weight: bold;
}

nav .sub {
    width: 100%;
    height: 0;
    transition: height 300ms ease;
    overflow: hidden;
    margin: 0 150px;
    display: flex;
    justify-content: center;
}

nav .sub.open {
    border-top: 2px solid #e4dcd3;
    border-bottom: 2px solid #e4dcd3;
    height: 66px;
}

nav .sub ul li {
    display: flex;
    align-items: center;
}

nav .sub ul li {
    margin-left: 80px;
    height: 66px;
}

nav .sub .close {
    margin-left: 100px;
    cursor: pointer;
}

nav .sub .close::after {
    font-weight: 400;
}

.close {
    transition: transform 0.25s;
    font-size: 20px;
}

.close:hover {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    opacity: 1;
}


/** container */

.container {
    width: 1120px;
    margin: auto;
    margin-bottom: -200px;
}

.title {
    display: block;
}

.title ul {
    margin-top : 50px;
    display: flex;
}

.title li a {
    font-size : 14px;
    color: #7e7e7e;
    cursor: pointer;
    transition: all 300ms ease;
}

.title li::after{
    content: "|";
    font-size: 11px;
    padding: 0 15px;
    color: #7e7e7e;
}

.title li a:hover {
    color: #00aad2;
}







.container-main {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-bottom: -60px;
}

.container-main .cols-wraps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.container-main .cols-wraps .col-main {
   width: 736px;
}

.container-main .cols-wraps .col-title {
    margin-bottom: 10px;
    
}

.container-main .cols-wraps .col-title p {
    font-size: 44px;
    font-weight: bolder;
    line-height: 52.8px;
}

.container-main .cols-wraps .col-sub {
    width: 352px;
}

.container-main .cols-wraps .col-sub .img-area {
    position: relative;
}

.container-main .cols-wraps .col-sub .img-area .img-tit {
    position: absolute;
    top: 3px;
    left: 0;
    padding: 14px 11px 10px 13px;
    font-size: 18px;
    line-height: 1.0;
    letter-spacing: 1.0px;
    font-weight: bold;
    color:#fff;
}

.container-main .cols-wraps .col-sub .img-area .img-tit span {
    font-size: 13px;
    line-height: 12px;
    letter-spacing: 1.2px;
}



.container-blue {
    margin-top : 200px;
    width: 100%;
    height: 595px;
    background-color: #002c5f;
}

.blue {
    width: 1120px;
    margin: 0 auto;
    position: relative;
}

.blue img {
    margin: 150px 0 0 100px;
}

.blue_background {
    color: white;
    width: 270px;
    position: absolute;
    top: 40%;
    right: 186px;
    transform: translateY(-20%);
}

.blue_background p:first-child {
    line-height: 1.6;
    font-size: 30px;
    font-weight: bold;
}

.blud_text p:nth-child(2) {
    font-weight: bold;
    font-size : 3px;
    line-height: 2;
    margin: 20px 0;
}

.blue_background h2 a {
    padding: 8px 32px;
    background-color: #777673;
    text-align: center;
    color: white;
}





/* MAIN */

.main {
    padding: 25px 0 175px;
}

.main .cols-wraps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.cols-wraps .col-1 {
    width: 40%;
}

.cols-wraps .col-2 {
    width: 29.42857142857%;
}

.cols-wraps .col-3 {
    width: 22.85714285714%;
}

.cols-wraps .col-1,
.cols-wraps .col-2,
.cols-wraps .col-3 {
    margin-bottom: 50px;
}


.main .cols-wraps .img-area {
    height: 400px;
}

.main .cols-wraps .img-area img {
    display: block;
    width: auto;
    height: auto;
}

.main .cols-wraps .col-title .category {
    font-weight: bolder;
}
.main .cols-wraps .col-title {
    margin-top: 15px;
    color: black;
    font-weight: bolder;
    
}

.main .cols-wraps .col-title .category {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.2px;
    margin-bottom: 6px;
    
}


.social {
    margin: 0 auto;
    height: 900px;
}

.content_text span {
    font-size: 15px;
    margin-bottom: -20px;
}

.content_text p {
    font-size: 28px;
}
.social_img {
    margin: 0 32px 32px 0;
}

.social_img:nth-child(4),
.social_img:nth-child(7) {
    margin-right: 0px;
}

.social_img a span {
    width: 296px;
    height: 296px;
    padding: 33px;
    background-color : #002C5F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color:white;
    font-size: 15px;
    line-height: 1.8;
    font-weight: bold;
}

.social_img {
    float: left;
    position: relative;
    width: 352px;
    height: 352px;
}

.social_img:nth-child(2) {
    background: url("img/worldwide-main-instagram-01-8iihs-220315.webp") no-repeat;
}

.social_img:nth-child(3) {
    background: url("img/worldwide-main-instagram-02-womens-day-220315.webp") no-repeat;
}

.social_img:nth-child(4) {
    background: url("img/worldwide-main-instagram-03-ioniq5-220315.webp") no-repeat;
}

.social_img:nth-child(5) {
    background: url("img/worldwide-main-instagram-04-asmr-220315.webp") no-repeat;
}

.social_img:nth-child(6) {
    background: url("img/worldwide-main-instagram-05-asmr-220315.webp") no-repeat;
}

.social_img:nth-child(7) {
    background: url("img/worldwide-main-instagram-06-asmr-220315.webp") no-repeat;
}

.social_img span img {
    width: 25px;
    height: 25px;
    position: absolutel;
    bottom: 33px;
    left: 33px;
   
}

.social_img a{
    opacity: 0;
}

.social_img a:hover{
    opacity: 1;
    transition:  all 0.4s ease-in-out;
}

.footer {
    background-color: black;
    width: 100%;
    height: 535px;
}

.footer_content {
    padding: 74px 0 84px 0;
    margin: 0 auto;
}

.footer_content p {
    margin-bottom: 75px;
}

.footer_content p {
    margin-bottom: 75px;
}

.footer_menu {
    color: white;
}

.footer_menu > ul {
    display: flex;
    justify-content: space-between;
}

.footer_menu div {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

.footer_menu li > ul > li {
    display: block;
    height: 28px;
    margin-top: 6px;
}

.footer_menu li > ul > li > a{
    width: 100%;
    color:white;
    margin-top: 6px;
    font-size: 13px;
}

.back::after {
    content: "";
    display:inline-block;
    background-image: url("img/ico_gnb_newwin2.png") ;
    width: 10px;
    height: 10px;
    background-position: 0 -10px;
    margin-left: 6px;
    background-repeat: no-repeat;
}

div.li_content {
    margin: 6px 0 2px 0;
}

.li_content > ul {
    display: block;
}

.li_content > ul > li {
    margin: 10px 10px 10px 0;
}

.li_content > ul > li > a > img {
    width: 21px;
    height: 21px;
}

.li_content span {
    width: 135px;
    height: 28px;
    font-size: 13px;
    font-weight: normal;
}

.li_content img {
    float: left;
    margin : 0px 5px;
    position: relative;
    right: 40px;
}


address {
    color: #cfc8c2;
    font-size: 14px;
    margin-top: 60px;
}