/** 전체 공통 설정 
---------------------------------------------*/
* { 
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/** 헤더 영역 범위 설정 
----------------------------------------------*/
#header {

    
    margin: 0px 300px;
    margin-bottom: 25px;
    height: 80px;
    position: relative;
    
}

/** 헤더 a 태그 텍스트 설정
----------------------------------------------*/
#header a{
    text-decoration: none;
    text-align: center;
}

/** 헤더 div 태그 위치 설정
----------------------------------------------*/
#header div {
    position: absolute;
    left: 20px;
    top: 20px;
}


/** 헤더 My Food 위치 및 폰트 설정
----------------------------------------------*/
#header .header-text1 {
    font-size: 25px;
    color: black;
    position: absolute;
    top: 20px;
    left: 600px;
}

/** 헤더 Mail 위치 설정 및 폰트
----------------------------------------------*/
#header .header-text2 {
    font-size: 25px;
    color: black;
    position: absolute;
    top: 20px;
    right: 0px;
}



/** main부터 float 해제 및 바깥 여백 설정
-----------------------------------------------*/

#main {
    clear: both;
    margin: 0px 300px;
    border-bottom: 1px solid gray;
    height: 1400px;
    
}

/** main 각영역들 float 처리 및 넓이 , 폭 설정 
----------------------------------------------- */

.main {
    float: left;
    height: 570px;
    width: 287.98px;
    padding:10px 15px;
    margin-bottom: 70px;

}


/** 이미지 좌우폭 100% 설정 
-------------------------------------------------*/

.main img {
    width: 100%;
    
}


/** h3 태그 폰트 설정 
---------------------------------------------------------*/
#main h3 {
    font-size : 25px;
    color:black;
    text-align: center;
    font-weight: 200;
}

/** p 태그 폰트 설정 
---------------------------------------------------------*/
.main p {
    color: black;
    text-align: center;
    padding: 20px;
}


/** number 부터 float 해제 처리 
--------------------------------------------------*/

#number {
    clear: both;
}


/** number p 태그 설정 
---------------------------------------------------*/
#number a p {
    margin:auto;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 20px;
    text-align: center;
}

#main2 {
    border-bottom: 1px solid gray;
    margin: 0px 300px;
}

#main2 h3 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 100px;
    text-align: center;
}

#main2 .main2-img {
    margin: 50px 250px;
}
#main2 .main2-text{
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#main2 .main2-text2{
    font-weight:100;
    margin-bottom: 20px;
    
}
#main2 h4 {
    text-align: center;
}

#main2 p {
    text-align: center;
    margin-bottom: 50px;
}

/*
----------------------------------------------------*/

#main3 {
    border-bottom: 1px solid gray;
    margin: 0px 300px;
    position: relative;
}

#main3 h2{
    margin-bottom: 20px;
    margin-top: 60px;
}
#main3 #footer {
    box-sizing: border-box;
    float: left;    
    width:30%;
    height: 150px;
}

#main3 #blog {
    float: left;
    width: 40%;
    height: auto;
    
}

#main3 #blog #tag1 {
    height: 80px;
    width: 350px;
    
}
#main3 #blog #tag2 {
    height: 80px;
    width: 350px;
    
    
}
#main3 img{
    width: 20%;
    float: left;
    margin-bottom: 20px;
}

#main3 img{
    clear: both;
}


#main3 #popular-tags {
    width: 25%;
    position: absolute;
    top:50px;
    right: 100px;
}
#main3 #popular-tags h3 {
    font-weight: 100;
    font-size: 25px;
}
#main3 #popular-tags span {
    width:30px;
    height: 30px;
    background: gray;
    color:white;
    
}

#main3  #popular-tags .span {
   
}




#main3 #POPULAR-TAGS {
   
}