/**  여기저기서 반복적으로 등장해야 하는 구문들에 대한 묶음 = 믹스인 => JS의 함수 */
// 필요하다면 파라미터 정의 가능함.
// 간단한 사칙 연산, 조건분기도 수행 가능함
@mixin myMixin($size) {   //size라는 파라미터가 ex)1로 전달된거다
    //변수값 지정 (대입연산자가 콜론으로 사용됨)
    $calc: 100px;

    // 파라미터 $size에 따른 조건분기
    @if $size % 2 == 0 {    //size가 짝수면 
        $calc: $calc + 50px;    // 그 값에 50을 더한걸 누적
    } @else if $size % 3 == 0 {  // 3으로 나눴을 때 나누어떨어지면
        $calc : $calc + 100px;  // 100을 더해서 누적
    } @else {
        $calc: $calc;   // 그렇지 않으면 그대로 써라.
    }

    width: $calc;                           // 변수값을 활용한 CSS속성 명시
    height: 32px * 2;                       // SCSS의 가장 좋은점은 기본 연산자가 됨. 연산자를 활용한 CSS 속성 명시
    transition: all 0.3s ease-in;           // 일반 CSS 속성 명시

    // 가상 클래스는 & 기호를 사용해서 적용
    &:hover {
        transform: scale(1.2, 1.2); //1.2배씩 커진다.
    }
}