body, html {
    margin:0px;
    padding: 0px;
    
}


#header {
    width: 100%;
    height: 60px;
    overflow: hidden;
    box-shadow: 2px 0px 5px;
    background-color: white;
    position:relative, fixed;
    
}

#header a {
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
    padding: 0px 20px;
}

#header .header-left {
    float:left;
    position: absolute;
    left: 40px;
    top: 20px;
    
}

#header .header-right {
    float: right;
    position: absolute;
    right: 40px;
    top: 20px;

    
   
}

#br {
    margin: 0px 200px;
    height: 920px;
    position:relative;
    border-bottom: 1px solid gray;
}

#br a{
    position: absolute;
    left:620px;
    top: 360px;
    text-decoration: none;
    color:white;
    font-size: 35px;
    letter-spacing: 5px;
}

#br a > strong {
    background: black;
    padding: 8px 12px;
}

#br h3 {
    font-size: 30px;
    font-weight: 100;
}

#main {
    margin: 0px 200px;
    position: relative;
    border-bottom: 1px solid gray;
}

#main .main-gellery {
    
    padding: 0px 7px;
    float:left;
    width: 360px;
    height: 300px;
}

#main .main-img img{
    width: 100%;
}

#main .main-text1 {
    position: absolute;
    top:-15px;
    background-color: black;
    color:white;
    padding: 10px 20px;
    
}
#main .main-text2 {
    position: absolute;
    top:-15px;
    background-color: black;
    color:white;
    padding: 10px 20px;
    
}
#main .main-text3 {
    position: absolute;
    top:-15px;
    background-color: black;
    color:white;
    padding: 10px 20px;
}
#main .main-text4 {
    position: absolute;
    top:-15px;
    background-color: black;
    color:white;
    padding: 10px 20px;
}
#main .main-text5 {
    position: absolute;
    top:284px;
    background-color: black;
    color:white;
    padding: 10px 20px;
}
#main .main-text6 {
    position: absolute;
    top:284px;
    background-color: black;
    color:white;
    padding: 10px 20px;
}
#main .main-text7 {
    position: absolute;
    top:284px;
    background-color: black;
    color:white;
    padding: 10px 20px;
}
#main .main-text8 {
    position: absolute;
    top:284px;
    background-color: black;
    color:white;
    padding: 10px 20px;
}

#main h3 {
    font-size: 25px;
    font-weight: 100;
}

#main2 {
    margin: 0px 200px;
    height: 650px;
    border-bottom: 1px solid gray;
}

#main2 #main2-gellery{
  padding: 0px 7px;
    float:left;
    width: 360px;
    height: 500px;
}

#main2 img {
    width: 100%;
}

#main2 #main2-gellery .main2-text{
    font-weight: 100;
    color:gray;
}

#main2 p {
    font-weight: 530;
}


#main2 button {
    width: 100%;
    border: none;
    padding: 10px 30px;
    font-size: 15px;
    letter-spacing: 1px;
}

#main2 h4 {
    font-size: 25px;
    font-weight: 200;
}

#main3 {
    margin: 0px 200px;
    width:auto;
    
}

#main3 input {
    display:block;
    width: 100%;
    
}
#main3 .input1 {
   margin: 15px 0px;
   padding: 10px 10px;
   color: gray;
   font-size: 15px;
}
#main3 .input2 {
    margin: 15px 0px;
    padding: 10px 10px;
    color: gray;
    font-size: 15px;
 }

 #main3 .input3 {
    margin: 15px 0px;
    padding: 10px 10px;
    color: gray;
    font-size: 15px;
 }

 #main3 .input4 {
    margin: 15px 0px;
    padding: 10px 10px;
    color: gray;
    font-size: 15px;
 }

 #main3 button {
     border:none;
     background-color: black;
     color:white;
     padding: 15px 20px;
     margin:20px 0px;
     letter-spacing: 1px;
 }

 #footer {
     width: 100%;
     
     text-align: center;
     background-color: black;
     color:white;
     padding: 13px 0px;
     letter-spacing: 1px;
     
 }

 #footer a {
     
     color:white;
 }