/** 공통 설정 
-----------------------------------------------------*/
body,
html {
    margin: 0;
    padding: 0;
}

* {
    list-style: none;
}
/** 상단 베너 설정
-----------------------------------------------------*/

#container {
    width: 100%;
    height: 50px;
    overflow: hidden;
    box-shadow: 2px 0 5px;
    position:fixed;
    background-color: white;
    padding-top: 10px;
    
}

/** 왼쪽 상단 베너 설정
-----------------------------------------------------*/
#container .header-left {
    float:left;
    padding:10px 30px;
    letter-spacing: 4px;
}

/** 오른쪽 상단 베너 설정
-----------------------------------------------------*/
#container .header-right {
    float:right;
    padding:10px 30px;
    letter-spacing: 4px;
}

/** 왼쪽 상단 베너 > a 태그 설정
-----------------------------------------------------*/
#container .header-left a{
    text-decoration: none;
    color:black;
}

/** 오른쪽 상단 베너 > a 태그 설정
-----------------------------------------------------*/
#container .header-right a{
    text-decoration: none;
    color:black;
    padding: 15px;
}

/** 마우스 반응 설정
-----------------------------------------------------*/
#container a:hover {
    background-color: gray;
}

.clear {
    float:none;
    clear:both;
}

/** 빌딩 이미지 영역 설정 
----------------------------------------------------*/
#content {
    
    margin: 0px 200px;
    height:900px;   
    border-bottom: 1px dotted gray;
}

/** 빌딩 텍스트 위치 설정
-----------------------------------------------------*/
#content .content-text{
        position: relative;
        top: -470px;
        left: 600px;
        font-size: 30px;
        font-weight:500;
        color:aliceblue;
        letter-spacing: 5px;
        width: 47px;
        height: 60px;
        background-color:black;

}

/** project 텍스트 위치 설정 
-----------------------------------------------------*/
#content h1 {
    position:relative;
    top:-100px;
    font-weight: 100;
    font-size: 25px;
}

/** house영역 설정
-----------------------------------------------------*/
#house {    
    margin: 0px 160px;
    height:100%;   
    border-bottom: 1px dotted gray;
}

#house #gallery .list {
    width:400px;
    height:400px;    
}

#house #gallery .gallery-list{
    float:left;
}



/** 갤러리 목록 a 태그 밑줄 제거
-----------------------------------------------------*/
#gallery a{
    text-decoration: none;
}


/** About 텍스트 padding 설정 
-----------------------------------------------------*/
.name {
    padding: 0px 35px;
}

/** About 전체 영역 정의하기
-----------------------------------------------------*/
#About {
    width: 100%;
    height:auto;
    border-bottom: 1px dotted gray;;
}
.About-text{
    margin: 0px 180px;
    text-align: left;
}


#photo {
    margin: 50px 50px;
}
#photo .gallery-list1 {
    margin: 0px 0px;
    float:left;
}

#photo .gallery-list1 h3 {
    font-size : 23px;
    font-weight: 100;
}

#photo .gallery-list1 .list-text {
    color:gray;
}

#photo .gallery-list2 {
    float:left;
}

#photo .gallery-list2 h3 {
    font-size : 23px;
    font-weight: 100;
}

#photo .gallery-list2 .list-text {
    color:gray;
}



#photo .gallery-list3 {
    float:left;
}
#photo .gallery-list3 h3 {
    font-size : 23px;
    font-weight: 100;
}

#photo .gallery-list3 .list-text {
    color:gray;
}




#photo .gallery-list4 {
    float:left;
}

#photo .gallery-list4 h3 {
    font-size : 23px;
    font-weight: 100;
}

#photo .gallery-list4 .list-text {
    color:gray;
}



#photo .gallery-list1 {
    width: 400px;
    height: 500px;
    margin:0px 20px;
}

#photo .gallery-list2 {
    width: 400px;
    height: 500px;
    margin:0px 10px;
}

#photo .gallery-list3 {
    width: 500px;
    height: 500px;
    margin:0px 10px;
}

#photo .gallery-list4 {
    width: 400px;
    height: 500px;
    margin:0px 10px;
}

.text-button {
    width: 400px;
    height: 40px;
    border:none;
}





/** Contact 텍스트 조절
------------------------------------------------------*/
#main {
    margin: 0px 200px;
}
#main .name {
    margin: 50px -200px;
}

#main input {
    weight:100%;
    height: 30px;
}

#footer-img {
    margin: 0px 200px;
  
}

.footer {
    padding-top: 40px;
    font-size:18px;
}


/** 하단 a 태그 색상 변경
--------------------------------------*/
#footer {
    margin-top: 0px;
    text-align: center;
    background: black;
    width: 100%;
    padding: 10px 0px;
}

#footer .footer-text {
    color:white;
}

#footer .footer-text a {
    color:white;
}








